/* Modal--------------------------------------------------------------------- */
.Modaldiv {
  display: none;
}
.modalshow {
  display: block;
}
/* Login------------------------------------------------------------------- */
.formDiv {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 5px;
}

.labelText {
  margin-bottom: 10px;
}

.inputFiled {
  padding: 5px;
  margin-bottom: 10px;
}

.buttonDiv {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.buttonDiv:hover {
  background-color: #0056b3;
}
